body {
     background-color: #3a3a3a;
     font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

body a {
  outline: none;
  color: #686868;
}

#page {
    background-color: white;
    padding: 0 2.857142857rem;
    margin: 2rem auto;
    max-width: 60rem;
    overflow: hidden;
}

#top-header {
    padding-top: 25px;
}

#lettering {
  width: 50%;
  margin-bottom: 2rem;
}

#banner {
  width: 100%;
}

.entry {
  font-size: .9rem;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

.entry h2 {
  font-weight: normal;
  color: #686868;
}

.entry-date-notice {
  color: #686868;
  font-size: .7rem;
}

#footer {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}
