<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/style-nav.css">
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block content_style %}{% endblock %}
    <title>A SINGER MUST LIE | … and her moles grew constellations of our kin</title>
</head>
<body>
    <div id="page">
        <header id="top-header" class="site-header" role="banner">
            <img id="lettering" alt="ASML Lettering" src="images/lettering.png"/>
            <img id="banner" src="images/header-banner-marek.jpg"/>
            <script>
              let guys = ['arvid', 'marek', 'joao', 'paul'];
              function rotateGuys() {
                let num = Math.floor(Math.random() * (guys.length));
                return guys[num];
              }
              document.getElementById('banner').src = 'images/header-banner-' + rotateGuys() + '.jpg';
            </script>
            <nav role="navigation">
			        <div id="mytopnav" class="topnav">
                  <a id="music-button" href="index.html">MUSIC</a>
                  <a id="songs-button" href="songs.html">SONGS</a>
                  <a id="lies-button" href="lies.html">LIES</a>
                  <a id="pics-button" href="pics.html">PICS</a>
                  <a href="javascript:void(0);" class="icon" onclick="expandResponsiveNav()">
                    <i class="fa fa-bars"></i>
                  </a>
              </div>
              <script>
                function expandResponsiveNav() {
                  var x = document.getElementById("mytopnav");
                  if (x.className === "topnav") {
                    x.className += " responsive";
                  } else {
                    x.className = "topnav";
                  }
                }
              </script>
            </nav>
        </header>
        <div id="content">{% block content %}{% endblock %}</div>
        <footer id="footer">
          <div class="impressum">
      			<a href="impressum.html" ...>Impressum und Kontakt</a>
      		</div>
          <div id="license">
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
              <img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
            </a>
          </div>
        </footer>
    </div>
</body>
</html>
