{% extends "base.html" %}
{% block content_style %}
  <link rel="stylesheet" href="style/style-index.css">
{% endblock %}
{% block content %}
  <div id="bandcamp-frames" class="entry">
    <iframe style="border: 0; width: 350px; height: 687px;" src="https://bandcamp.com/EmbeddedPlayer/album=2671146306/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless>
      <a href="http://asingermustlie.bandcamp.com/album/the-truth-1-3">The Truth #1 by A Singer Must Lie</a>
    </iframe>
    <iframe style="border: 0; width: 350px; height: 687px;" src="https://bandcamp.com/EmbeddedPlayer/album=3610041117/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless>
      <a href="http://asingermustlie.bandcamp.com/album/the-truth-2">The Truth #2 by A Singer Must Lie</a>
    </iframe>
  </div>
  <div class="entry">
    <p>Out finally!&nbsp;Download the double album <em>The Truth</em> name-your-price from <a href="http://asingermustlie.bandcamp.com" target="_blank">Bandcamp</a> or order a beautifully artworked <a href="http://asingermustlie.bandcamp.com/merch" target="_blank">physical copy</a> for 12€.
    </p>
    <p>
      <img src="https://cloud.xn--kernstck-c6a.com/index.php/s/QZnx2pRKdNwkaed/preview" alt="The Truth Artwork" width="300" height="225">
    </p>
    <p>Thanks for the listening and the support!</p>
  </div>

{% endblock %}
