{% extends "base.html" %}
{% block content_style %}
  <link rel="stylesheet" href="style/style-lies.css">
{% endblock %}
{% block content %}
  <div class="entry">
    <h2>The Truth Unveiled: Give Head</h2>
    <p>
    Unser Vorhanglüften geht in die nächste Runde. Heute beschäftigen wir uns eingehender mit dem ja schon viel versprechenden Titel Give Head und seinen Hintergründen. Erschienen auch wieder in doppelter Ausführung auf unserem Album The Truth. Ich empfehle übrigens zur Verstärkung des Eindruckes, sich während der Lektüre dieses Textes den Song/die Songs gleich mit anzuhören:
    </p>
    <p>
    <a href="http://asingermustlie.bandcamp.com/track/give-head">Give Head #1</a> <br>
    <a href="http://asingermustlie.bandcamp.com/track/give-head-2">Give Head #2</a>
    </p>
    <p>
    Das Stück handelt von den meist unklaren und fast immer abgründigen Regungen, die einen Menschen dazu bringen, fast zwingen, Dinge zu tun oder eben nicht, wo es ihm oder seiner Natur aber eigentlich widerspricht. Vielleicht: Was uns hindert, gut zu sein. Wann einer Dinge aufgibt, sich abwendet, etwas das einen förmlich anschreit aber trotzdem auf sich beruhen lässt. Wann jemand, selbst gegen enormen inneren Widerstand sich selbst wie eine Marionette handeln lässt, sich entmachtet und steuert. Da kämpfen zwei Mächte gegeneinander an und jede trägt ein noch prunkvolleres Kostüm, die Maske der Richtigkeit. Vielleicht kennt man diesen mal irren, mal abwesenden Blick, der sich einem Menschen auf die Augen legt, wie ein Schleier, wenn sich im Innern eine Stimme regt, die ihm kommandieren möchte. Give head. Oder: Give in.
    </p>
    <p>
    Die #1-Version ist eher rau und introvertiert, zumindest bis zum Ende nur an der Grenze zu einem Ausbruch. Die ziemlich unwirklichen (Hall-)Räume in dem der Song steht, erzeugen vielleicht einen skurrilen Eindruck und kommen gleichzeitig auch ein bisschen aus dem guten alten Shoegazing. Das Lied enthält wenn ich mich nicht irre, die einzige deutsche Textzeile auf dem gesamten Album, die auf der anderen Version fehlt.
    Das Stück auf Seite #2 ist dagegen aggressiver ausgefallen und nach außen gekehrt. Wir hatten dabei, als sich der Song auch noch im Mix weiter entfaltete, manchmal das Gefühl von brachialer Maschinerie. Eine Kraft, die einen ohne Widerspruch zuzulassen, überwältigt. Ich hoffe im Übrigen, dass es uns gelungen ist, den ein oder anderen beim hören zu Anfang in Verwirrung zu setzen, was das Metrum anbelangt. Zumindest bei Proben oder Konzerten sind wir uns selbst bis heute nicht ganz einig, wo die 1 nun wirklich liegt.
    </p>
    <p>
    Unsere Artworkerin Barbara Ott hat zu dem Stück ebenfalls eine großartige und interessante Illustration angefertigt:
    </p>
    <img src="http://cloud.xn--kernstck-c6a.com/index.php/s/zCno3wM6smxcq54/preview" alt="Give Head Artwork" width="300" height="260">
    <p>
    Danke fürs Hinhören und bis zum nächsten mal!
    </p>
    <p class="entry-date-notice">
    This entry was posted on October 25, 2014.
    </p>
  </div>
  <div class="entry">
    <h2>The Truth Unveiled: Danyel’s Fish Meditation</h2>
    <p>
    Weil so viel Hingabe und Detailarbeit in jedem der Songs von The Truth steckt, finden wir es durchaus lohnend, mal hinter die Kulissen derer zu blicken. Deswegen lüften wir den Vorhang der darüber liegt nun in regelmäßigen Abständen ein Stückchen, wir hoffen ihr habt daran Spaß. Heute wird es als Anfang Danyel’s Fish Meditation.
    </p>
    <p>
    Inspiriert hat diesen Titel zu Anfang ein Mitarbeiter des inzwischen schon Legendenstatus innehabenden Wilhelsburger Sweet Home Cafés, wo nebenan übrigens die meisten der Songs der Platte entstanden sind. Dieser gewisse Herr hatte es sich eingerichtet, in Zeiten in denen nichts zu tun bzw. alle anwesenden Gäste abgefrühstückt waren, sinnend vor dem Aquarium im Nebenzimmer zu sitzen. Dies gelang, aufgrund der oft ruhigen Nachmittage, nicht selten über eine gute Stunde hinweg, bis sich dann die Türe öffnete und wieder Arbeit im Raum stand, welche dann mit einem leisen, eher nach innen gerichteten Säufzer und dem Satz „Okay, fish meditation is over“, nicht ohne Widerstreben in Angriff genommen wurde. Dies war einer der magischen Momente für uns Dauergäste, die der so wunderbar trägen Atmosphäre zu diesen Zeiten dort ihren Charme und der Gitarrenmelodie, die damals schon bestand, ihren Text verlieh.
    </p>
    <p>
    Was die beiden Versionen betrifft, so fand Joao auf #1 einen für mich damals überraschend movigen Drumspart, den ich aber schnell lieben lernte, während Arvid auf #2 den Song mit einem rhythmisch einfallsreichen Besenspiel bestens bedient. Als Overdub zu hören auf #1 ist übrigens ein verstärktes Overdrive-Lamellophon, das vorwärts ein- und rückwärts abgespielt wurde/wird. Auf #2 ist es eine Mandoline.
    </p>
    <p>
    Die Artworkerin Barbara Ott hat zu diesem Song eine wunderbare Illustration angefertigt, die auch in dem Album zu finden ist und die wir auf keinen Fall vorenthalten wollen.
    </p>
    <img src="http://cloud.xn--kernstck-c6a.com/index.php/s/XgeSoR3qLrbrdjJ/preview" alt="Danyel's Fish Meditation Artowrk" width="300" height="300">
    <p>
    Unter <br>
    <a href="http://asingermustlie.bandcamp.com/track/danyels-fish-meditation">http://asingermustlie.bandcamp.com/track/danyels-fish-meditation</a> und <br>
    <a href="http://asingermustlie.bandcamp.com/track/danyels-fish-meditation-2">http://asingermustlie.bandcamp.com/track/danyels-fish-meditation-2</a> <br>
    sind die Titel zu hören und auch der Songtext ist dort nachzulesen. Dort kann unser Album gegen Spende heruntergeladen oder eine physikalische Kopie mit Artwork von Barbara Ott für 12€ erworben werden.
    </p>
    <p>
    Danke fürs Hinhören, dieser Inhalt ist zum Teilen da!
    </p>
    <p class="entry-date-notice">
    This entry was posted on August 25, 2014.
    </p>
  </div>
  <div class="entry">
    <h2>The Truth on Air</h2>
    <p>
    Für alle, die das Airplay verpasst haben: Hört Euch die Sendung von Klangtaucher (Folge 18) über das neue Album auf Mixcloud an!
    </p>
    <a href="http://www.mixcloud.com/klangtaucher/klangtaucher-folge-19-a-singer-must-lie/">Klangtaucher Folge 18</a>
    <p>
    Eine Menge Background-Infos zur Produktion und aus dem Nähkästchen-Geplauder von uns drei und dem werten Macher und Moderator Stefan Melko.
    </p>
    <p class="entry-date-notice">
    This entry was posted on August 7, 2014.
    </p>
  </div>
{% endblock %}
