{% extends "base.html" %}
{% block content_style %}
  <link rel="stylesheet" href="style/style-pics.css">
{% endblock %}
{% block content %}
  <div class="entry">
    <h2>15.07.2014 Astra Stube Release Party</h2>
    <img src="https://cloud.kernstock.eu/index.php/s/c72m3osm8R5Gyb6/preview" alt="" width="300" height="200">
    <img src="https://cloud.kernstock.eu/index.php/s/Z2oiXSyKQYyH5aL/preview" alt="" width="300" height="200">
    <br>
    <img src="https://cloud.kernstock.eu/index.php/s/sGPCwM6dXirgwxi/preview" alt="" width="200" height="300">
    <br>
    <img src="https://cloud.kernstock.eu/index.php/s/dFoJ3KKPfNgYMsN/preview" alt="" width="200" height="300">
    <img src="https://cloud.kernstock.eu/index.php/s/7sjbaQH6Tgcew7r/preview" alt="" width="200" height="300">
    <br>
    <img src="https://cloud.kernstock.eu/index.php/s/MrATLjZNeBMxEaG/preview" alt="" width="300" height="200">
    <img src="https://cloud.kernstock.eu/index.php/s/JXmH776cmcPxYft/preview" alt="" width="300" height="200">
    <br>
    <img src="https://cloud.kernstock.eu/index.php/s/QsF6YcdPyYj4aDN/preview" alt="" width="300" height="246">
  </div>
{% endblock %}
