{% extends "base.html" %}
{% block content_style %}
  <link rel="stylesheet" href="style/style-songs.css">
{% endblock %}
{% block content %}
  <div class="entry">
    <h2>Morning Theft</h2>
    <p>
      From my site on her bed I saw the picture she’d rised <br>
      Outside the window pane I saw them fly <br>
      In the view that’d been always more or less same <br>
      She had drawn on the linen what she’d find <br>
    </p>
    <p>
      She was my black-eyed being `though I never owned her, no <br>
      But what she found inside doors, closing us in <br>
      Her touch was made of pearls and her skin was very pale <br>
      And her moles grew constellations of our kin <br>
    </p>
    <p>
      When you wake to look outside <br>
      Will you know who drew the snow? <br>
      Have you felt your bones collide? <br>
      In her black hair where you’ve grown <br>
    </p>
    <p>
      And you feel her dirty hands <br>
      Reach out of your sleep <br>
      And if you reach the top <br>
      Will you strangle her there? <br>
    </p>
    <p>
      When you wake to look outside <br>
      Will you know who drew the snow? <br>
      Have you felt your bones collide? <br>
      In her black hair where you’ve grown <br>
    </p>
    <p>
      When you search your lonely linen <br>
      And you reach out to the left <br>
      And you find her body sleeping <br>
      And you feel your morning theft <br>
    </p>
  </div>
  <div class="entry">
    <h2>Danyel's Fish Meditation</h2>
    <p>
      The devil he does marry well <br>
      That’s what these fish, they told me <br>
      They’re gathering dead little snails <br>
      And swimming keen and building water trails <br>
    </p>
    <p>
      I’m focusing with my eyes closed <br>
      On my very simple post <br>
      That is hanging right above me <br>
      Just like the stars, but I cannot see <br>
    </p>
    <p>
      I’m focusing with my eyes blind <br>
      On this guitar that hits from behind <br>
      The only one in charge to tell, when the sun will dawn <br>
      And the moon to set <br>
    </p>
    <p>
      And so on you will not tell <br>
    </p>
    <p>
      The devil he does marry well <br>
      That’s what these fish, they told me. <br>
    </p>
  </div>
  <div class="entry">
    <h2>Give Head</h2>
    <p>
    There’s a steeped image in your head <br>
    You reach out to catch it slowly, but your hand <br>
    So you just give in <br>
    </p>
    <p>
    He tried out to focus feelings, peaked the most to a beat <br>
    As he felt the rhythm’s cage then, he resigned <br>
    Then he just gave away <br>
    </p>
    <p>
    They said to me I’m doing this to extract myself to one <br>
    They told me, this one last step, to finally be done. <br>
    </p>
    <p>
    The girl took notice of his absence while they were talking – never mind <br>
    In the bathroom, curling curls she felt forced <br>
    Then she just gave head <br>
    </p>
  </div>
  <div class="entry">
    <h2>Warten #1</h2>
    <p>
    The line in this waiting room blurs all what’s relied away <br>
    Sitting for something unknown that tells everybody to stay <br>
    If there were people, giving you a name, to give you a sign <br>
    But they’re all just reactants with your doubtful actions, reflecting your trys <br>
    </p>
    <p>
    And you try <br>
    </p>
    <p>
    Here we are drifting further and forth, nothing to separate us now <br>
    Nothing to come from you, nothing to comfort me I’ll be leaving this place to never come back and to not even turn around to it <br>
    ’cause the line in this waiting room blurs all what’s life away <br>
    </p>
    <p>
    This waiting feel <br>
    Breaks your sign <br>
    Makes you wander <br>
    Through the night <br>
    </p>
    <p>
    Keeps you awake <br>
    Feeds the faint <br>
    But not the swoon <br>
    </p>
  </div>
  <div class="entry">
    <h2>Kin</h2>
    <p>
    There’s something in your breath <br>
    That I can’t sleep tonight <br>
    And I scream <br>
    Scream one’s name <br>
    </p>
    <p>
    There’s something in your breath <br>
    That I get lost within <br>
    </p>
    <p>
    And behind the whispering flags <br>
    And the closing doors and opened eyes <br>
    There’s beauty in the mirror <br>
    And between us there’s a kin <br>
    </p>
    <p>
    Is there any dangerous attraction in blonde hair <br>
    When you follow the traces in the snow <br>
    What is wrong with breathing old air <br>
    When finding graces <br>
    </p>
    <p>
    Find there whatever you may find <br>
    Read about me, read the signs when I am home <br>
    You may follow down the red lace <br>
    Which is bind between our worlds <br>
    And at the end there’ll be a blazing kind <br>
    </p>
    <p>
    Find there whatever you may find <br>
    </p>
  </div>
  <div class="entry">
    <h2>You In The Pale (Letting The Cables Sleep)</h2>
    <p>
    You in the pale <br>
    You on the snow <br>
    You with cast gold <br>
    Still is her voice <br>
    Back when she taught <br>
    To fleet is your choice <br>
    </p>
    <p>
    Whatever you say it’s all right <br>
    Whatever you do it’s all good <br>
    Whatever you say it’s all right <br>
    </p>
    <p>
    You on return In need of repair <br>
    Tripping on sole <br>
    Will you ever wait till I’m <br>
    Letting the cables sleep <br>
    </p>
    <p>
    The evil ghost of sleep <br>
    You must have suspended by time <br>
    It haunts, it breaks in me <br>
    We need to talk about it <br>
    </p>
    <p>
    I’m a stranger in this town <br>
    Since you are the doubt about it. <br>
    </p>
  </div>
  <div class="entry">
    <h2>Rotes Licht (Sturm)</h2>
    <p>
    Could I pretend to stay <br>
    There’s red light in your face <br>
    Could I pretend to stay <br>
    This red light leads to Orchids and your place <br>
    </p>
  </div>
  <div class="entry">
    <h2>I Armed My Soul</h2>
    <p>
    Please don’t turn your head away <br>
    I’ve armed my soul just for you – to claim <br>
    Sentenced is nothing but spring my dear <br>
    I’ve armed my soul just for you to bring it near <br>
    </p>
    <p>
    Silver rain – and silence taught you to cry <br>
    I’ve armed my soul just to pass it by <br>
    Sentenced is nothing but death my dear <br>
    I’ve armed my soul just for you to bring it near. <br>
    </p>
  </div>
{% endblock %}
